@page
@model InfoSecReports.Pages.Achievements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить:</h1>

<h4>Достижение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Название</label>
                <input asp-for="Achievement.Name" class="form-control" required/>
                <span asp-validation-for="Achievement.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <input asp-for="Achievement.Description" class="form-control" />
                <span asp-validation-for="Achievement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Адрес узла</label>
                <input asp-for="Achievement.NodeAdress" class="form-control" />
                <span asp-validation-for="Achievement.NodeAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата авторизации</label>
                <input asp-for="Achievement.AuthData" class="form-control" />
                <span asp-validation-for="Achievement.AuthData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Путь</label>
                <input asp-for="Achievement.Path" class="form-control" />
                <span asp-validation-for="Achievement.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Имя организации</label>
                <input asp-for="Achievement.NameOfСompany" value="@Model.NameOfCompany" class="form-control" readonly/>
                <span asp-validation-for="Achievement.NameOfСompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>ФИО участника</label>
                <select asp-for="Achievement.Member" class="form-select" aria-label="Выберите участника" required>
                    @{
                        foreach (var item in Model.Member)
                        {
                            <option value=@item.Name>@Html.DisplayFor(modelItem => item.Name)</option>
                        }
                    }
                </select>
                <span asp-validation-for="Achievement.Member" class="text-danger"></span>
                <br/><a class="btn btn-secondary" asp-page="/Members/Create">Добавить участника</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
            <a class="btn btn-secondary" onclick="history.go(-2);"><font color="white">Назад</font></a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
