@page
@model InfoSecReports.Pages.Members.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создать:</h1>

<h4>Участника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>ФИО</label>
                <input asp-for="Member.Name" class="form-control" required/>
                <span asp-validation-for="Member.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
            <a class="btn btn-secondary" onclick="history.go(-2);"><font color="white">Назад</font></a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
