@page
@model InfoSecReports.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать:</h1>

<h4>Категорию</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Имя категории</label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание категории</label>
                <input asp-for="Category.Content" class="form-control" />
                <span asp-validation-for="Category.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Обновить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
