@page
@model InfoSecReports.Pages.Recomendations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать:</h1>

<h4>Рекомендацию</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recomendation.Name" readonly />
           <div class="form-group">
                <label>Имя</label>
                <input asp-for="Recomendation.Name" class="form-control" readonly/>
                <span asp-validation-for="Recomendation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <input asp-for="Recomendation.Description" class="form-control" />
                <span asp-validation-for="Recomendation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Уровень</label>
                <input asp-for="Recomendation.Level" class="form-control" />
                <span asp-validation-for="Recomendation.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Категория</label>
                <input asp-for="Recomendation.CategoryName" class="form-control" />
                <span asp-validation-for="Recomendation.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Обновить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
