@page
@model InfoSecReports.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Подтвердите удаление</h3>

    <form method="post">
        <input type="hidden" asp-for="Event.Name" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
